NODE_ENV=development
SERVICE_NAME=payment-service
AWS_REGION=ap-southeast-1
DYNAMODB_TABLE_NAME=Payments
ORDERS_TABLE_NAME=Orders
PAYMENT_EVENTS_TOPIC_ARN=arn:aws:sns:ap-southeast-1:726101441380:natish-payment-events
