@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;
  --color-secondary: #1D4ED8;
  --color-accent: #38BDF8;
  --color-bg-slate: #F8FAFC;
  --color-dark: #0F172A;
  --color-border-light: #E2E8F0;
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-error: #EF4444;

  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  --radius-custom: 20px;
  --radius-card: 30px;
}
